.p-About 
{   
    width: 100%;
    animation: fadeUp 2.5s ease-out forwards;

    h1 
    {
        font-size: 6.5em;
    }

    .s-Helloworld 
    {
        margin-top: 100px;
        display: flex;
        justify-content: space-between;

        div:first-child
        {
            display: flex;
            gap: 20px;

            figure 
            {
                &:nth-child(2)
                {
                    margin-top: 150px;
                }
            }
        }

        div:nth-child(2)
        {
            width: 400px;

            p:first-child
            {
                text-transform: uppercase;
                color: var(--second-color);
                letter-spacing: 15px;
                font-size: 0.83em;
                font-weight: 600;
            }

            p:nth-child(2)
            {
                margin-top: 35px;
                font-size: 0.9em;
            }
        }
    }
    
    .s-Education 
    {
        display: flex;
        flex-direction: column;
        gap: 140px;
        margin-top: 100px;

        div:nth-child(2)
        {
            flex-direction: row-reverse;
        
        }
    }

    .s-Experience 
    {
        display: flex;
        flex-direction: column;
        gap: 70px;
        margin-top: 100px;

        .c-Education
        {
            flex-direction: row-reverse;
        }
    }

    .s-Love 
    {
        display: flex;
        justify-content: center;
        gap: 90px;
        margin-top: 200px;

        div:first-child
        {
            display: flex;
            flex-direction: column;
            gap: 4.3px;

            p:first-child 
            {
                text-transform: uppercase;
                color: var(--third-color);
                letter-spacing: 3px;
                font-size: 0.75em;
                font-weight: 500;
            }

            p:nth-child(2)
            {
                margin-top: 7px;
            }

            p 
            {
                letter-spacing: 1px;
                font-size: 2em;
                font-weight: 700;
            }
        }

        div 
        {
            display: flex;
            gap: 20px;

            figure:nth-child(2)
            {
                margin-top: 170px;
            }
        }
    }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 1357px) 
{
    .p-About
    {
        h1 
        {
            font-size: 6em;
            text-align: center;
        }

        .s-Helloworld
        {
            flex-direction: column-reverse;
            gap: 100px;
            align-items: center;
            text-align: center;
        }

        .s-Education 
        {
            div:nth-child(2)
            {
                flex-direction: column;
            }
        }

        .s-Experience 
        {
            .c-Education
            {
                flex-direction: column;
            }
        }

        .s-Love 
        {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }
}

@media screen and (max-width: 1050px) 
{
    .p-About
    {
        h1 
        {
            font-size: 5em;
        }
    }
}

@media screen and (max-width: 600px) 
{
    .p-About
    {
        h1 
        {
            font-size: 4em;
        }

        .s-Helloworld 
        {
            div:first-child
            {
                img 
                {
                    width: 200px;
                }

                figcaption 
                {
                    font-size: 0.7em;
                }
            }
        }

        .s-Education 
        {
            div 
            {
                align-items: center;

                h2 
                {
                    font-size: 1.3em;
                }
                
                img 
                {
                    width: 400px;
                }

                figcaption 
                {
                    font-size: 0.7em;
                }

                p:nth-child(3)
                {
                    font-size: 0.9em;
                    width: 300px;
                }
            }
        }

        .s-Experience 
        {
            div 
            {
                align-items: center;
                
                img 
                {
                    width: 200px;
                }

                figcaption 
                {
                    font-size: 0.7em;
                }

                p:nth-child(3)
                {
                    font-size: 0.9em;
                    width: 300px;
                }
            }
        }
    }
}

@media screen and (max-width: 500px) 
{
    .p-About
    {
        h1 
        {
            font-size: 3em;
        }

        .s-Helloworld 
        {
            div:first-child
            {
                img 
                {
                    width: 190px;
                }

                figcaption 
                {
                    font-size: 0.6em;
                }
            }
        }

        .s-Education 
        {
            div 
            {
                align-items: center;
                
                img 
                {
                    width: 300px;
                }

                figcaption 
                {
                    font-size: 0.7em;
                }

                p:nth-child(3)
                {
                    font-size: 0.9em;
                    width: 300px;
                }
            }
        }

        .s-Experience 
        {
            div 
            {
                align-items: center;
                
                img 
                {
                    width: 300px;
                }

                figcaption 
                {
                    font-size: 0.7em;
                }

                p:nth-child(3)
                {
                    font-size: 0.9em;
                    width: 300px;
                }
            }
        }
    }
}